<h4>Last Publications</h4>
<div>
  <span>Search : </span>
  <select class="selectpicker" data-live-search="true">
    <option *ngFor="let item of listPublications()">{{item.nom}}</option>
  </select>
</div>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions"  *ngFor="let item of listPublications();let index = index" [attr.data-slide-to]="index"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let item of listPublications();let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
        <img class="d-block img-fluid" [src]='["../../assets/"+item.img]' [alt]="item.nom" class="mx-auto d-block" width="350" height="350">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<br>
<br>

<h4>Top Categories</h4>
<div>
  <span>Search : </span>
  <select class="selectpicker" data-live-search="true">
    <option *ngFor="let item of listCategories()">{{item.categorieNom}}</option>
  </select>
</div>
<div class="raw card-group">
  <div *ngFor="let cat of listCategories().slice(-3)" class="col-4">
    <div class="card">
      <p class="card-title text-center">{{cat.categorieNom}}</p>
      <a class="text-center"[routerLink]="['/categorie/'+cat.id]"><img [src]='["../../assets/"+cat.imgCat]'></a>
    </div>
  </div>
</div>

<br>
<br><br>
<br>

<!-- Footer -->
<footer class="page-footer p-3 mb-2 bg-dark text-white">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a [routerLink]="['/inscription']" class="btn btn-primary">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a [routerLink]="['/accueil']"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
