<div class="container-fluid row">
  <h2>Votre annonce :</h2>

  <div class="container">
   <div class="container row-cols-2" class="card" class="float-left">
      <label>Image de l'annonce :</label>
     <div class="loadimage"><input type="file" class="form-control-file border"></div>
    </div>

   <div class="container" class="border border-info" class="float-lg-left">
     <form action="/action_page.php" class="was-validated">
       <div class="form-group">
          <label for="titre">Titre :</label>
          <input type="text" class="form-control" id="titre" placeholder="Ajouter le titre de votre annonce" name="titre" required>
          <div class="valid-feedback">Valide.</div>
          <div class="invalid-feedback">Champs obligatoire<button data-toggle="collapse" data-target="#demo" class="text-danger" class="btn btn-link">?</button><div id="demo" class="collapse">
           Merci de renseigner le titre de votre annonce. Sans titre votre annonce ne peut pas être validée </div>
          </div>
       </div>
      </form>
      <form>
       <select name="cat" class="custom-select">
         <option selected>Catégorie</option>
         <option value="">Catégorie1</option>
          <option value="">Catégorie2</option>
          <option value="">Catégorie3</option>
       </select>
      </form>

     <form action="/action_page.php" class="was-validated">
       <div class="form-group">
          <label for="description">Description :</label>
         <textarea class="form-control" rows="5" id="description" placeholder="Ajouter une description" name="description" required></textarea>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Champs obligatoire<button data-toggle="collapse" data-target="#filldescription" class="text-danger" class="btn btn-link">?</button><div id="filldescription" class="collapse">
           Votre description doit contenir une description fidèle de votre article ainsi que son année de fabrication</div>
         </div>
        </div>
      </form>
     <form>
        <select name="etat" class="custom-select">
         <option selected>État de vente : </option>
          <option value="Parfait">Parfait</option>
          <option value="Correct">Correct</option>
         <option value="Bon">Bon</option>
          <option value="Moyen">Moyen</option>
          <option value="Abimé">Abimé</option>
          <option value="pp">Pour pièces</option>
        </select>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid row-5-cols-5">
  <div class="card">
    <form action="/action_page.php" class="was-validated">
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember" required> j'accepte les termes des trucs et le blabla.
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Acceptez pour continuer.</div>
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>



