<div class="container">
  <div class="card mt-3">
    <div class="card-header bg-secondary text-white">
      <h2>Renseignez votre annonce :</h2>
    </div>



    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-sm-4">
        <div class="form-group"><br>
          <h5>Informations de votre annonce :</h5>
          <label for="titre">Titre :</label>
          <input type="text" class="form-control" id="titre" [(ngModel)]="publication.nom" placeholder="Ajouter le titre de votre annonce" name="titre" required>
          <div class="valid-feedback">Valide.</div>
          <div class="invalid-feedback">Champs obligatoire<button data-toggle="collapse" data-target="#demo" class="text-danger" class="btn btn-link">?</button><div id="demo" class="collapse">
            Merci de renseigner le titre de votre annonce. Sans titre votre annonce ne peut pas être validée </div>
          </div>


          <form action="/action_page.php" class="was-validated">
            <div class="form-group">
              <label for="description">Description :</label>
              <textarea [(ngModel)]="publication.description" class="form-control" rows="5" id="description" placeholder="Ajouter une description" name="description" required></textarea>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Champs obligatoire<button data-toggle="collapse" data-target="#filldescription" class="text-danger" class="btn btn-link">?</button><div id="filldescription" class="collapse">
                Votre description doit contenir une description fidèle de votre article ainsi que son année de fabrication</div>
              </div>
            </div>
          </form>

          <label>Catégorie :</label>
          <select [(ngModel)]="categorie" name="categ" class="custom-select">
            <option selected> Choisir une catégorie</option>
            <option *ngFor="let cat of categories" [ngValue]="cat">{{cat.categorieNom}}</option>
          </select>
          <br>
          <br>
          <span>Fin de l'enchère :&nbsp;&nbsp;&nbsp;</span>

          <input type="date" id="fin" name="enchere-fin"
                 [(ngModel)]="datefin"
                 min="{{aujourdhui}}">

          <label>Prix de départ :</label>
          <input type="number" [(ngModel)]="prixdepart"
                 min="1">
          <label>Votre prix de réserve :</label>
          <input type="number" [(ngModel)]="prixreserve"
                 min="{{prixdepart}}">
        </div>
      </div>
      <div class="col-1">
      </div>
      <div class="col-sm-6">
        <div class="card-body">
          <div class="custom-file">
            <h5>Image de l'annonce :</h5><br>

            <span>Chargez un fichier :</span>
            <div class="loadimage"><input type="file" class="form-control-file border"></div>
            <h5>ou</h5>
            <span>Collez le lien de votre image : </span>
            <input type="texte" [(ngModel)]="img">
            <img *ngIf="!img && img!=''" src="{{img}}" class="img-thumbnail" alt="image" width="304" height="236">
            <!--<img src="../../../assets/annonceImg/{{publicationForm.annonceImg}}" class="img-thumbnail alt="image" width="304" height="236">-->
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <form class="was-validated">
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember" required><span>&nbsp;&nbsp;&nbsp;&nbsp;J'accepte les termes des trucs et le blabla.</span>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Acceptez pour continuer.</div>
              </label>
            </div>
            <button (click)="createPublication()" type="button" class="btn btn-primary" >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





