<div class="contient_tout">
<div class="container">
  <div class="card">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="{{achatForm.publication.img}}" /></div>

<!--            TODO faire un ngFor pour toutes les images-->
<!--            <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/180/126" /></div>-->
<!--            <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/210/126" /></div>-->
<!--            <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/201/124" /></div>-->
<!--            <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/200/125" /></div>-->
          </div>

          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{achatForm.publication.img}}" /></a></li>

            <!--            TODO faire un ngFor pour toutes les images-->
<!--            <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/180/126" /></a></li>-->
<!--            <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/210/126" /></a></li>-->
<!--            <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/201/124" /></a></li>-->
<!--            <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/125" /></a></li>-->
          </ul>

        </div>


        <div class="details col-md-6">
          <h3 class="product-title">{{achatForm.publication.nom}}</h3>

<!--          Pour ajouter une note-->
<!--          <div class="rating">-->
<!--            <div class="stars">-->
<!--              <span class="fa fa-star checked"></span>-->
<!--              <span class="fa fa-star checked"></span>-->
<!--              <span class="fa fa-star checked"></span>-->
<!--              <span class="fa fa-star checked"></span>-->
<!--              <span class="fa fa-star"></span>-->
<!--            </div>-->
<!--            <span class="review-no">41 votes</span>-->
<!--          </div>-->


          <p class="product-description">{{achatForm.publication.description}}</p>
          <h5 class="price">Prix de départ : <span>{{achatForm.publication.prixDepart}}€</span></h5>
          <h4 class="price">Enchere actuelle : <span>{{achatForm.publication.prixActuel}}€</span></h4>

<!--          Ajouter une recommandation-->
          <!--          <p class="vote"><strong>91%</strong> de nos enchérisseurs recommandent ce produit ! <strong>(87 votes)</strong></p>-->



          <div class="action">
            <button class="add-to-cart btn btn-default" type="button" data-toggle="modal" data-target="#exampleModal">Enchérir</button>

<!--            Bouton Favoris-->
<!--            <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>-->
          </div>
          <br>
          <span>Fin de l'enchère dans : <span *ngIf="(daysToDday>=0 && hoursToDday>=0 && minutesToDday>=0 && secondsToDday>=0)"><b>{{countdown}}</b></span><span *ngIf="!(daysToDday>=0 && hoursToDday>=0 && minutesToDday>=0 && secondsToDday>=0)"><b>Enchère terminée</b></span></span>
        </div>
      </div>
    </div>
  </div>
</div>






<!--Caroussel d'autres propositions-->

<div class="caroussel">
  <h4 class="titre_centre">D'autres articles susceptibles de vous intéresser</h4>



  <div class="container my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Indicators + controls-->
      <ol class="carousel-indicators">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </ol>

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Joli truc à vendre</h4>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Third slide-->

      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->


  </div>


</div>






<!--Section commentaires-->
<section class="comments">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-6 col-12 pb-4">
        <h1>Commentaires</h1>
        <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
          <h4>Jhon Doe</h4> <span>- 20 October, 2018</span> <br>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
        </div>
        <div class="text-justify darker mt-4 float-right"> <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
          <h4>Rob Simpson</h4> <span>- 20 October, 2018</span> <br>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
        </div>
        <div class="comment mt-4 text-justify"> <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
          <h4>Jhon Doe</h4> <span>- 20 October, 2018</span> <br>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
        </div>
        <div class="darker mt-4 text-justify"> <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
          <h4>Rob Simpson</h4> <span>- 20 October, 2018</span> <br>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
        </div>
      </div>




      <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
        <form id="algin-form">
          <div class="form-group">
            <h4>Laisser un commentaire</h4> <label>Message</label> <textarea name="msg" id="commentaire" cols="50" rows="5" class="form-control" style="background-color: white; border: solid 1px gray; color:black"></textarea>
          </div>

<!--          <div class="form-group"> <label for="name">Name</label> <input type="text" name="name" id="fullname" class="form-control"> </div>-->
<!--          <div class="form-group"> <label for="email">Email</label> <input type="text" name="email" id="email" class="form-control"> </div>-->

<!--          <div class="form-group">-->
<!--            <p class="text-secondary">If you have a <a href="#" class="alert-link">gravatar account</a> your address will be used to display your profile picture.</p>-->
<!--          </div>-->

          <div class="form-group"> <button type="button" id="post" class="btn" style="background-color: #C8A522"><b>Poster le commentaire</b></button> </div>
        </form>
      </div>
    </div>
  </div>
</section>


</div>


















<!--Choix de son enchère (pop up)-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Entrez votre enchère</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>L'enchère actuelle est de : <b><span id="enchere">1820</span><span>€</span></b></span><br>
        <input type="number" id="new_enchere" min="1820" placeholder="Votre enchère" required="required" message="L'enchère est trop basse"><span>Enchère trop basse</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="valider btn btn-primary">Valider l'enchère</button>
      </div>
    </div>
  </div>
</div>




