<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/accueil']">Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isType('Utilisateur')" [routerLink]="['/accueil']">Achat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isType('Utilisateur')" [routerLink]="['/accueil']">Vente</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!isConnected()" class="nav-item">
        <button [routerLink]="['/connection']" class="btn btn-dark btn-lg active">Se connecter</button>
      </li>
      <li *ngIf="isConnected()" class="nav-item">
        <button (click)="Disconnect()" [routerLink]="['/accueil']" class="btn btn btn-dark btn-lg active">Se déconnecter</button>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
