<div class="container">
  <div class="card mt-3">
    <div class="card-header bg-secondary text-white">
      <h2>Appercu de votre annonce :</h2>
    </div>

    <div class="row">
      <div class="col-5"></div>
      <h2 class="text-center">{{publi.nom}}</h2>
    </div>

    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-sm-3">
        <div class="custom-file">
          <h5>Image de l'annonce :</h5>
          <div Image>
            <img  src="{{publi.img}}" class="img-thumbnail" >
          </div>
        </div>
      </div>
      <div class="col-1">
      </div>
      <div class="col-sm-3">
        <div class="card-body">
          <div class="form-group">
            <h5>Informations :</h5>
            <br>
            Description : <a class="text-info">{{publi.description}}</a><br/><br/>
            Catégorie : <a class="text-info">{{publi.categorie.categorieNom}} </a><br/><br/>
            Prix de départ :<a class="text-info"> {{publi.prixDepart}} </a><br/><br/>
            Fin de l'enchère : <a class="text-info">{{publi.dateEcheance}} </a><br/><br/>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
          <a class="btn btn-success" (click)="save()" >
            <i class="fa fa-check"></i>
          </a>
          <a class="btn btn-warning" (click)="cancel()">
            <i class="fa fa-sync"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
