<div *ngIf="listEncheresByUtilisateurActual().length == 0 && listEncheresByUtilisateurPast().length == 0">
  <h4>Vous n'avez aucune encheres</h4>
</div>
<div *ngIf="listEncheresByUtilisateurActual().length != 0">
  <h4>Voici vos encheres actuelles : </h4>
</div>
<div *ngIf="listEncheresByUtilisateurActual().length != 0" class="row">
  <div *ngFor="let item of listEncheresByUtilisateurActual()" class="col-md-4">
    <div class="cardCaroussel card mb-2">
      <p class="card-title text-center">{{item.publication.nom}}</p>
      <a class="text-center" [routerLink]="['/achat/'+item.publication.id]">
        <img class="ImageCarou card-img-top"  [src]='[item.publication.img]'>
      </a>
      <h6 class="price">Prix de départ : <span>{{item.publication.prixDepart}}€</span></h6>
      <h6 class="price">Prix actuel : <span>{{item.publication.prixActuel}}€</span></h6>
      <h6 class="price">Votre dernier prix : <span>{{item.prixProposition}}€</span></h6>
      <h6 *ngIf="item.prixProposition == item.publication.prixActuel" style="color: coral">Vous êtes en tête pour remporter l'enchere</h6>
      <h6 *ngIf="item.prixProposition != item.publication.prixActuel" style="color: coral">Vous n'ête plus en tête pour remporter l'enchere</h6>
      <h6>Fin des encheres : {{item.publication.dateEcheance | date:'dd/MM/yyyy à h:mm'}}</h6>
    </div>
  </div>
</div>
<div *ngIf="listEncheresByUtilisateurPast().length != 0">
  <h4>Voici vos encheres passées : </h4>
</div>
<div *ngIf="listEncheresByUtilisateurPast().length != 0" class="row">
  <div *ngFor="let item of listEncheresByUtilisateurPast()" class="col-md-4">
    <div class="cardCaroussel card mb-2">
      <p class="card-title text-center">{{item.publication.nom}}</p>
      <a class="text-center" [routerLink]="['/achat/'+item.publication.id]">
        <img class="ImageCarou card-img-top"  [src]='[item.publication.img]'>
      </a>
      <h6 class="price">Prix d'achat final : <span>{{item.publication.prixActuel}}€</span></h6>
      <h6 class="price">Derniere proposition : <span>{{item.prixProposition}}€</span></h6>
      <h6 *ngIf="item.prixProposition == item.publication.prixActuel" style="color: coral">Enchere remportée</h6>
      <h6 *ngIf="item.prixProposition != item.publication.prixActuel" style="color: coral">Enchere non remportée</h6>
      <h6 style="color: red">Encheres terminées le {{item.publication.dateEcheance | date:'dd/MM/yyyy à h:mm'}}</h6>
    </div>
  </div>
</div>
